{% extends "templates/layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome</h1>
			<p>Luke is a Big Apple artist from Big Sky Country.</p>
			<p>He paints canvasses using the rarified blood of the politically naive.</p>
			<p>He also makes futuristic jetpack music with his project <a href="http://www.unigenband.com">Unigen</a>.</p>
			<p>If that's not enough, he plays drums for <a href="#">[name of his band]</a>.</p>
			<hr>
			<a class="fa fa-facebook fa-lg" href="www.facebook.com"></a>
			<a class="fa fa-soundcloud fa-lg" href="www.soundcloud.com"></a>
			<a class="fa fa-twitter fa-lg" href="www.twitter.com"></a>
		</div>
	</div>
{% endblock %}
