<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>Luke's Gallery</title>
    <link rel="stylesheet" type="type='text/css" href="style.css" media="screen" /> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="lukegallery.js"></script>
</head>
<body>

<div class="container text-center title">
	<h1 id="headline">Luke Folger Gallery</h1>
	<h2 id="about">About the Artist</h2>
</div>



<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

       <div class="item active">
      <img src="Images/Animals 1.jpg" alt="Working Title 1">
      <div class="carousel-caption">
        <h3>Working Title 1</h3>
        <p>Optional description.</p>
      </div>
    </div>

    <div class="item">
      <img src="Images/Animals 2.jpg" alt="Working Title 2">
      <div class="carousel-caption">
        <h3>Working Title 2</h3>
        <p>Optional description.</p>
      </div>
    </div>

    <div class="item">
      <img src="Images/Animals 3.jpg" alt="Working Title 3">
      <div class="carousel-caption">
        <h3>Working Title 3</h3>
        <p>Optional description.</p>
      </div>
    </div>

    <div class="item">
      <img src="Images/Animals 4.jpg" alt="Working Title 4">
      <div class="carousel-caption">
        <h3>Working Title 4</h3>
        <p>Optional description.</p>
      </div>
    </div>
  </div>
</div>
  
    </div>

<ul class="pager">
  <li class="previous"><a href="#"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
  <li class="next"><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
</ul>


    
  </div>
</div>

</body>
</html>